/*https://www.materialpalette.com/colors*/
/*{*/
    /*-fx-color-md-lime-50:#f9fbe7;*/
    /*-fx-color-md-lime-100:#f0f4c3;*/
    /*-fx-color-md-lime-200:#e6ee9c;*/
    /*-fx-color-md-lime-300:#dce775;*/
    /*-fx-color-md-lime-400:#d4e157;*/
    /*-fx-color-md-lime-500:#cddc39;*/
    /*-fx-color-md-lime-600:#c0ca33;*/
    /*-fx-color-md-lime-700:#afb42b;*/
    /*-fx-color-md-lime-800:#9e9d24;*/
    /*-fx-color-md-lime-900:#827717;*/
    /*-fx-color-md-lime-A100:#f4ff81;*/
    /*-fx-color-md-lime-A200:#eeff41;*/
    /*-fx-color-md-lime-A400:#c6ff00;*/
    /*-fx-color-md-lime-A700:#aeea00;*/
/*}*/
/*{*/
    /*-my-color-50:-fx-color-md-lime-50;*/
    /*-my-color-100:-fx-color-md-lime-100;*/
    /*-my-color-200:-fx-color-md-lime-200;*/
    /*-my-color-300:-fx-color-md-lime-300;*/
    /*-my-color-400:-fx-color-md-lime-400;*/
    /*-my-color-500:-fx-color-md-lime-500;*/
    /*-my-color-600:-fx-color-md-lime-600;*/
    /*-my-color-700:-fx-color-md-lime-700;*/
    /*-my-color-800:-fx-color-md-lime-800;*/
    /*-my-color-900:-fx-color-md-lime-900;*/
    /*-my-color-A100:-fx-color-md-lime-A100;*/
    /*-my-color-A200:-fx-color-md-lime-A200;*/
    /*-my-color-A400:-fx-color-md-lime-A400;*/
    /*-my-color-A700:-fx-color-md-lime-A700;*/
/*}*/


{
    -fx-color-md-amber-50:#fff8e1;
    -fx-color-md-amber-100:#ffecb3;
    -fx-color-md-amber-200:#ffe082;
    -fx-color-md-amber-300:#ffd54f;
    -fx-color-md-amber-400:#ffca28;
    -fx-color-md-amber-500:#ffc107;
    -fx-color-md-amber-600:#ffb300;
    -fx-color-md-amber-700:#ffa000;
    -fx-color-md-amber-800:#ff8f00;
    -fx-color-md-amber-900:#ff6f00;
    -fx-color-md-amber-A100:#ffe57f;
    -fx-color-md-amber-A200:#ffd740;
    -fx-color-md-amber-A400:#ffc400;
    -fx-color-md-amber-A700:#ffab00;
}
{
    -my-color-50:-fx-color-md-amber-50;
    -my-color-100:-fx-color-md-amber-100;
    -my-color-200:-fx-color-md-amber-200;
    -my-color-300:-fx-color-md-amber-300;
    -my-color-400:-fx-color-md-amber-400;
    -my-color-500:-fx-color-md-amber-500;
    -my-color-600:-fx-color-md-amber-600;
    -my-color-700:-fx-color-md-amber-700;
    -my-color-800:-fx-color-md-amber-800;
    -my-color-900:-fx-color-md-amber-900;
    -my-color-A100:-fx-color-md-amber-A100;
    -my-color-A200:-fx-color-md-amber-A200;
    -my-color-A400:-fx-color-md-amber-A400;
    -my-color-A700:-fx-color-md-amber-A700;
}


/*{*/
    /*-fx-color-md-blue-gray-50:#eceff1;*/
    /*-fx-color-md-blue-gray-100:#cfd8dc;*/
    /*-fx-color-md-blue-gray-200:#b0bec5;*/
    /*-fx-color-md-blue-gray-300:#90a4ae;*/
    /*-fx-color-md-blue-gray-400:#78909c;*/
    /*-fx-color-md-blue-gray-500:#607d8b;*/
    /*-fx-color-md-blue-gray-600:#546e7a;*/
    /*-fx-color-md-blue-gray-700:#455a64;*/
    /*-fx-color-md-blue-gray-800:#37474f;*/
    /*-fx-color-md-blue-gray-900:#263238;*/


/*}*/
/*{*/
    /*-my-color-50:-fx-color-md-blue-gray-50;*/
    /*-my-color-100:-fx-color-md-blue-gray-100;*/
    /*-my-color-200:-fx-color-md-blue-gray-200;*/
    /*-my-color-300:-fx-color-md-blue-gray-300;*/
    /*-my-color-400:-fx-color-md-blue-gray-400;*/
    /*-my-color-500:-fx-color-md-blue-gray-500;*/
    /*-my-color-600:-fx-color-md-blue-gray-600;*/
    /*-my-color-700:-fx-color-md-blue-gray-700;*/
    /*-my-color-800:-fx-color-md-blue-gray-800;*/
    /*-my-color-900:-fx-color-md-blue-gray-900;*/
    /*-my-color-A100:-fx-color-md-blue-gray-100;*/
    /*-my-color-A200:-fx-color-md-blue-gray-200;*/
    /*-my-color-A400:-fx-color-md-blue-gray-400;*/
    /*-my-color-A700:-fx-color-md-blue-gray-700;*/
/*}*/


